
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495813621751'); /* IE9*/
  src: url('iconfont.eot?t=1495813621751#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495813621751') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495813621751') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495813621751#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-answer:before { content: "\e604"; }

.icon-app:before { content: "\e605"; }

.icon-browser:before { content: "\e606"; }

.icon-camera:before { content: "\e608"; }

.icon-cart:before { content: "\e60a"; }

.icon-check:before { content: "\e60b"; }

.icon-code:before { content: "\e60c"; }

.icon-computer:before { content: "\e60d"; }

.icon-copy:before { content: "\e60e"; }

.icon-delete:before { content: "\e60f"; }

.icon-deliver:before { content: "\e611"; }

.icon-display:before { content: "\e612"; }

.icon-down:before { content: "\e613"; }

.icon-download:before { content: "\e614"; }

.icon-edit:before { content: "\e615"; }

.icon-emoji:before { content: "\e616"; }

.icon-enclosure:before { content: "\e617"; }

.icon-eraser:before { content: "\e618"; }

.icon-favor:before { content: "\e619"; }

.icon-file:before { content: "\e61a"; }

.icon-fill:before { content: "\e61c"; }

.icon-fold:before { content: "\e61d"; }

.icon-folder:before { content: "\e61f"; }

.icon-font:before { content: "\e620"; }

.icon-hide:before { content: "\e624"; }

.icon-home:before { content: "\e626"; }

.icon-information:before { content: "\e627"; }

.icon-left:before { content: "\e628"; }

.icon-like:before { content: "\e629"; }

.icon-link:before { content: "\e62a"; }

.icon-loading:before { content: "\e62b"; }

.icon-lock:before { content: "\e62d"; }

.icon-mail:before { content: "\e62e"; }

.icon-mark:before { content: "\e62f"; }

.icon-menu:before { content: "\e630"; }

.icon-message:before { content: "\e631"; }

.icon-minus:before { content: "\e632"; }

.icon-more:before { content: "\e633"; }

.icon-my:before { content: "\e635"; }

.icon-notification:before { content: "\e637"; }

.icon-order:before { content: "\e638"; }

.icon-person2:before { content: "\e63a"; }

.icon-phone:before { content: "\e63b"; }

.icon-record:before { content: "\e63f"; }

.icon-refresh:before { content: "\e640"; }

.icon-rest:before { content: "\e641"; }

.icon-right:before { content: "\e642"; }

.icon-ringpause:before { content: "\e643"; }

.icon-rotate:before { content: "\e645"; }

.icon-roundcheck:before { content: "\e646"; }

.icon-search:before { content: "\e648"; }

.icon-service:before { content: "\e649"; }

.icon-shopping:before { content: "\e64b"; }

.icon-sitting:before { content: "\e64c"; }

.icon-tag:before { content: "\e64d"; }

.icon-telephone:before { content: "\e64e"; }

.icon-todown:before { content: "\e64f"; }

.icon-toleft:before { content: "\e650"; }

.icon-toright:before { content: "\e651"; }

.icon-top:before { content: "\e653"; }

.icon-unfold:before { content: "\e654"; }

.icon-unlock:before { content: "\e655"; }

.icon-upload:before { content: "\e656"; }

.icon-video:before { content: "\e657"; }

.icon-time:before { content: "\e65a"; }

.icon-add:before { content: "\e661"; }

.icon-people3:before { content: "\e664"; }

.icon-mac:before { content: "\e667"; }

.icon-windows:before { content: "\e668"; }

.icon-android:before { content: "\e669"; }

.icon-favorite:before { content: "\e66e"; }

